@charset "utf-8";
/* CSS Document */

body{
	direction:rtl;
}
.navigation ul, .navigation ul li{
	float:right;
	background-position:right center;
}
.navigation ul li:first-child{
	margin-right:30px;
	margin-left:0px;
}
.navigation ul ul{
	right:0px;
}
.navigation ul ul ul{
	right:100%;
}
.love-box{
	float:right;
}
.love-box-shadow2{
	right:0px;
	background-image:url(../images/love-message-shadow.png);
}
.center-border{
	background-position:left;
}
.love-box-shadow{
	left:0px;
	right:auto;
	background-image:url(../images/love-message-shadow2.png);
}
.info{
	float:right;
	padding:0px 0px 0px 20px;
	background-position:left;
}
.form{
	float:right;
}
.text-inputs{
	float:right;
	margin:0 15px 0 0;
}
.register h4{
	float:right;
	margin:11px 130px 0 0;
}
.register ul{
	float:right;
}
.followus ul{
	float:left;
}
.followus p{
	float:right;
	padding:0 25px 0 0;
	background-position:right 3px;
}
.leftbar{
	float:right;
	background-position:left top;
	padding:0 0 0 20px;
}
.rightbar{
	float:right;
	background-position:right top;
	padding:0 20px 0 0;
	margin:0px -1px 0px 0px;
	-moz-box-shadow: -31px -7px 9px -34px #CCCCCC inset;
   -webkit-box-shadow: -31px -7px 9px -34px #CCCCCC inset;
   box-shadow: -31px -7px 9px -34px #CCCCCC inset;
}
.leave-message{
	left:50px;
	right:auto !important;
}
.banner h2{
	left:auto !important;
	right:30px;
}
.anchor-style1{
	float:right;
	margin:2px 0 0 10px;
}
.event-time ul li a{
	padding:0 20px 0 0;
	background-position:right;
	float:right;
}
.event-time ul li a small{
	float:left;
	background-position:right;
	padding:0 15px 0 0;
}
.nav-tabs > li, .nav-pills > li{
	float:right !important;
}
.gallery-pagination ul li{
	float:right;
}
.story-avatar{
	float:right;
	margin:0 0 0 15px;
}
.event-text ul li{
	float:right;
	padding:0 18px 0 0;
}
.event-text ul li p{
	margin:0px;
	float:right; 
}
.time, .location, .phone{
	background-position:right center;
}
.event-text ul li a, .event-text ul li small{
	float:right;
}
.event-box h2:after{
	margin:0 10px 0 0;
}
blockquote{
	margin:0 20px 20px 0px !important;
	padding:0 25px 0px 0px !important;
	border-right: 2px solid #EEEEEE;
	border-left:none !important;
}
.quote{
	padding:0 50px 8px 0;
	background-position:right 3px;
	background-image:url(../images/quots2.png)
}
.tweets h4 img{
	margin:-4px 0 0 10px;
}
.contact-us{
	float:right;
	margin:0 0 0 20px;
	border-left:1px solid #EDEDED;
	border-right:none;
}
.contact-us .topflower, .contact-us .bottomflower{
	right:auto;
	left:-5px;
}
.contact-us .tip{
	right:auto;
	left:-1px;
}
.contact-us p{
	padding:0px 20px 0px 0px;
}
.contact-us .home, .contact-us .phone, .contact-us .mobile, .contact-us .mail{
	background-position:right 5px;
}
.guest-book label{
	float:right;
}
.guest-book input[type="text"], .guest-book textarea, .guest-book select{
	float:left;
}
.select input[type="checkbox"]{
	float:right;
	margin-right:0px;
	margin-left:5px;
}
.select span h5{
	float:right;
	
}
.select span small{
	float:right;
	padding:0 25px 0 0;
	margin:0 15px 0 0;
	background-position:right center;
}
.guest-book form span img{
	margin:0 46px 0 0;
}
.guest-book .leave-message{
	margin:15px 118px 0 0;
}
.pp_nav .pp_play,.pp_nav .pp_pause{direction:ltr;}
a.pp_arrow_previous,a.pp_arrow_next{direction:ltr;}
a.pp_next{direction:ltr;}
a.pp_previous{direction:ltr;}
a.pp_expand,a.pp_contract{direction:ltr;}
a.pp_close{direction:ltr;}





@media (max-width: 767px) {
	.select span h5 small{
		float:right !important;
	}
	.select span h5{
		float:none;
	}
}
@media (max-width: 480px) {
	.leave-message{
		left:15px;
	}
	.banner h2{
		right:15px;
	}
}